__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.DS_Store
submitted_profiles/
*.json
!requirements.txt
node_modules/
.vscode/
.idea/
*.log
